Graph_Construction: true

reference:
    CHM13:
        test_data/reference/chm13v2.0_maskedY_rCRS.fasta
    GRCh38:
        test_data/reference/GRCh38_no_alt_analysis_set.fasta

internal_assembly_list:

external_assembly_list:

prefix:
    test